	body {
	animation: pulse 3s infinite alternate;
	font-family: "Karla","helvetica",sans-serif;
	font-weight: 700;
	font-size: .75rem;
	color: #111;
	text-rendering: optimizeLegibility;
}


li {
	text-decoration: none;
	margin: 15px;
	border: 2px solid white;
	background-color: rgba(255, 255, 255, .15);
	text-align: center;
}

a { 
	color: white;
	text-decoration: none;
	display: block;
	padding: 99px;
	
}

.options {
	margin: 100px 115px;

	border: none;
	color: white;
	font-size: 20px;
}

.right {
	float: right;
	padding: 15px;
}

.left, .links {
	animation: pulse 5s infinite alternate;
	float: left;
	padding: 15px;
	background: #D4E7F0;
	margin: 20px;s
	font-size: 14px;
}

ul {

list-style-type: none;

}



.options:hover {
	background-color: rgba(255, 255, 255, 0.27);
}

.right:hover { 
	background-color: rgba(255, 255, 255, 0.5);
}

nav {
	border: 2px solid white;
	border-right: none;
	border-left: none;
	margin: 20px 20px 0px;
}

header {
	overflow: hidden;
}

@keyframes pulse {
	0% { background-color: #F4DCDC;
	 }
	 20% {
	 	background-color: #F8E2C7;
	 }
	 40% {
	 	background-color: #FAF2CB;
	 }
	 60% {
	 	background-color: #CFF4EC;
	 }
	 80% {
	 	background-color: #D4E7F0;
	 }
	 100% {
	 	background-color: #EEE5F6;
	 }
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear:both;
	height: 0;
}

.relative {
	position: relative;
}

img {
	width: 100%;
	opacity: .5;
	margin-top: 30px;
	float: left;

}


.top-buttons, .bottom-buttons{
	padding: 0;
	color: black;
	display: block;
}

	

.middle {
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
}

footer {
	padding: 30px;
}




