	body {
	animation: pulse 4s infinite alternate;
	font-family: "Karla","helvetica",sans-serif !important;
	font-weight: 700;
	font-size: .75rem;
	color: #111;
	text-rendering: optimizeLegibility;
}


li {

	text-decoration: none;
	margin: 15px;
	border: 2px solid white;
	background-color: rgba(255, 255, 255, .15);
	text-align: center;
	
}

a { 
	
	color: white;
	text-decoration: none !important;
	display: block;
	
	
}

.mid-buttons {
	padding: 80px;
}

.frame {
	padding: 0px;

}

.options, .options2, .options3 {

	margin: 100px 115px;
	
	border: none;
	color: white;
	font-size: 20px;

}

.contact-link{
	color:black;
}

.right {
	float: right;
	padding: 15px;
	margin-top: 11px;
	font-size: 12px;
}

.left,  .links {
	animation: pulse 5s infinite alternate;
	float: left;
	padding: 15px !important;
	background: #D4E7F0;
	margin: 10px 20px 20px 20px !important;
		
}

.left {
	font-size: 14px !important;
}

.left2 {
	margin: 20px 20px 20px 20px !important;
	float: left;
	animation: pulse 5s infinite alternate;
	background: #D4E7F0;
	font-size: 14px !important;
	padding: 15px !important;

}

.right2 {
	float: right;
	padding: 15px !important;
	font-size: 12px;
	margin-top: 22px;
}

ul {

list-style-type: none;

}



nav {
	border: 2px solid white;
	border-right: none;
	border-left: none;
	margin: 20px 20px 0px;
	
}



@keyframes pulse {
	0% { background-color: #F4DCDC;
	 }
	 20% {
	 	background-color: #F8E2C7;
	 }
	 40% {
	 	background-color: #FAF2CB;
	 }
	 60% {
	 	background-color: #CFF4EC;
	 }
	 80% {
	 	background-color: #D4E7F0;
	 }
	 100% {
	 	background-color: #EEE5F6;
	 }
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear:both;
	height: 0;
}


.relative {
	position: relative;
}

h2 {
	text-align: center;
}

img {
	width: 100%;
	float: left;

}

.bg-image {
	opacity: .5;
	margin-top: 30px;
}

.thumbs {
	width: 100%;
	}

.bm {
	color:black;
}
	
}

.projects {
	padding-right: 20px;
	padding-left: 20px;
	height:500px;
}


.top-buttons, .bottom-buttons{
	padding: 0;
	color: black;
	display: block;
}

	

.middle {
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
}

footer {
	padding: 5px;
	clear: both;
	text-align:;
}


.change-buttons { 
color: black;
 }

 .show-gif {
/* 	filter: invert(100%);
*/	background-image: url("https://media1.giphy.com/media/G1T5M0qT6ZJlu/giphy.gif"); 
	opacity: .42;
	background-repeat: no-repeat;
	background-size: 100% 130%;
	overflow: hidden ;
	
 }

  .show-gif2 {
/* 	filter: invert(100%);
*/
	background-image: url("https://media4.giphy.com/media/1300w1HkjihpIY/giphy.gif"); 
	opacity: .42;
	background-repeat: no-repeat;
	background-size: 100% 130%;
	overflow: hidden ;
	
 }

  .show-gif3 {
/* 	filter: invert(100%);
*/	background-image: url("../imgs/giphy.gif"); 
	opacity: .62;
	background-repeat: no-repeat;
	background-size: 100% 130%;
	overflow: hidden ;
	
 }


 

.sub-header{
	text-align:center;
	margin: 50px;
	color: white;
	border: 2px solid white;
	border-left:none;
	border-right:none;
	padding: 20px;
}

